/* Estilos generales */
* {
  margin: 0;
  padding: 0;
}

/* Contenedor principal */
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #93D1E7;
}

/* Área de texto para ingresar el texto a encriptar/desencriptar */
.texto {
  position: absolute;
  width: 42%;
  height: 60%;
  left: 12%;
  top: 15%;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  background-color: #93D1E7;
  color: #080D14;
}

/* Placeholder del área de texto */
.texto::placeholder {
  color: #080D14;
}

/* Quitar borde y resaltar cuando el área de texto está enfocada o activa */
.texto:focus,
.texto:active {
  border: none;
  outline: none;
}

/* Logo de la página */
.logo {
  display: flex;
  align-items: center;
  margin-left: 30px;
  padding-top: 25px;
}

/* Indicaciones para el usuario */
.terminos {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 80%;
  left: 13%;
  top: 80%;
}

.terminos p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #080D14;
  opacity: 0.8;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Contenedor de los botones */
.botones {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1% 0;
  position: absolute;
  width: 80%;
  left: 12%;
  top: 82%;
}

/* Botón de encriptar */
.btn-encriptar {
  align-items: center;
  justify-content: center;
  padding: 2%;
  gap: 8px;
  width: 25%;
  background-color: #080D14;
  border-radius: 24px;
  font-family: "Inter";
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #93D1E7;
  margin-right: 10px;
}

/* Botón de desencriptar */
.btn-desencriptar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 2%;
  gap: 8px;
  width: 25%;
  background: #004752;
  border: 1px solid #93D1E7;
  border-radius: 24px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #93D1E7;
  margin-left: 10px;
}

/* Estilos al pasar el cursor sobre los botones */
.btn-desencriptar:hover,
.btn-encriptar:hover {
  margin: 0.3%;
  width: 24.5%;
  padding: 1.8%;
}

/* Estilo base del botón */
.btn-copiar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  gap: 8px;
  width: 60%;
  background-color: #004752;
  border-radius: 24px;
  font-family: "Inter";
  font-size: 18px;
  line-height: 12px;
  text-align: center;
  margin-left: 10px;
  color: #93D1E7;
}

/* Hover del botón */
.btn-copiar:hover {
  margin: 0.3%;
  width: 59.5%;
  padding: 4.8%;
}

/* Estado encriptado */
.estado-encriptado .btn-copiar {
  background-color: #0000ff; /* Azul para el botón en estado encriptado */
  color: #ffffff; /* Blanco para el texto en estado encriptado */
}

/* Estado desencriptado */
.estado-desencriptado .btn-copiar {
  background-color: #000000; /* Negro para el botón en estado desencriptado */
  color: #ffffff; /* Blanco para el texto en estado desencriptado */
}

/* Estado neutro */
.neutro .btn-copiar {
  background-color: #495057; /* Color neutro para el botón */
  color: #ffffff;
}


.encriptado {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 30%;
  height: 90%;
  left: 60%;
  top: 5%;
  background: white; /* Color neutro por defecto */
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

.encriptado.encriptado-color {
  background: #003e49; /* Color cuando está encriptado */
}

.encriptado.desencriptado-color {
  background: #060f15; /* Color cuando está desencriptado */
}


/* Contenedor del mensaje encriptado */
.mensaje-encriptado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
  gap: 16px;
  position: absolute;
  width: 100%;
  top: 65%;
  text-align: center;
}

/* Título del mensaje encriptado */
.mensaje-encriptado h2 {
  width: 60%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
}

/* Texto del mensaje encriptado */
.mensaje-encriptado p {
  width: 80%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

/* Estado neutro */
.neutro h2, .neutro p {
  color: white;
}

/* Estado encriptado y desencriptado */
.encriptado-color h2, .encriptado-color p,
.desencriptado-color h2, .desencriptado-color p {
  color: white;
}

/* Imagen dentro de la sección encriptada */
.encriptado img {
  position: absolute;
  width: 80%;
  height: 50%;
  top: 15%;
}
/* Diseño responsivo para pantallas medianas (tabletas) */
@media (max-width: 57.5em) {
  .container {
      display: flex;
      flex-direction: column;
  }
  .encriptar {
      width: 100%;
  }
  .texto {
      width: 90%;
      height: 50%;
      left: 5%;
      top: 5%;
  }
  .terminos {
      width: 90%;
      left: 5%;
      top: 55%;
  }
  .terminos p {
      font-size: 14px;
  }
  .botones {
      width: 90%;
      left: 5%;
      top: 60%;
  }
  .btn-encriptar,
  .btn-desencriptar,
  .btn-copiar {
      width: 48%;
      border-radius: 16px;
  }
  .btn-encriptar:hover,
  .btn-desencriptar:hover,
  .btn-copiar:hover {
      margin: 0.3%;
      width: 47.5%;
      padding: 1.8%;
  }
  .encriptado {
      width: 90%;
      height: 20%;
      left: 5%;
      top: 70%;
  }
  .mensaje-encriptado {
      width: 100%;
      top: 5%;
  }
  .encriptado img {
      top: 0;
      display: none;
      visibility: hidden;
  }
}

/* Diseño responsivo para pantallas pequeñas (móviles) */
@media (max-width: 37.5em) {
  .container {
      display: flex;
      flex-direction: column;
  }
  .encriptar {
      width: 100%;
  }
  .texto {
      width: 90%;
      height: 40%;
      left: 5%;
      top: 5%;
  }
  .terminos {
      width: 90%;
      left: 5%;
      top: 50%;
  }
  .terminos p {
      font-size: 12px;
  }
  .botones {
      width: 90%;
      left: 5%;
      top: 55%;
      display: flex;
      flex-direction: column;
      gap: 10px;
  }
  .btn-encriptar,
  .btn-desencriptar,
  .btn-copiar {
      width: 100%;
      border-radius: 16px;
  }
  .btn-encriptar:hover,
  .btn-desencriptar:hover,
  .btn-copiar:hover {
      margin: 0.3%;
      width: 99.5%;
      padding: 1.8%;
  }
  .encriptado {
      width: 90%;
      height: 25%;
      left: 5%;
      top: 65%;
  }
  .mensaje-encriptado {
      width: 100%;
      top: 5%;
  }
  .encriptado img {
      top: 0;
      display: none;
      visibility: hidden;
  }

  .logo {
    margin-left: 10px; 
   }

   .btn-copiar {
    width: 100%; 
    padding: 5%;
}

}